*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    font-size: 16px;
    font-family: sans-serif;
}
body {
    background-color: #1E293B;
}
body {
    display: flex;
    background: #1E293B;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.number_body {
    width: 1200px;
    height: 750px;
    border: 7px solid #4F46E5;
    border-radius: 29px;
}
.number-heading {
    text-align: center;
}

.number-heading > h2 {
    font-size: 2.2rem;
    color: #fff;
    letter-spacing: 0.02em;
    padding-top: 16px;
}
